div{
    border:0px black solid;
}
.container1{
    height: 15%;
    margin:1%;
}
.container2{
    height: 85%;
    margin:1%;
}
.container2{
    margin-top: 7%;
    color:white;
    font-size: 170%;
}
.container2 > div{
    margin-left: 3%;
    width:30%;
}
.container2 li{
    margin-bottom: 12%;
}
.nav1{
    float:right;
    width: 80%;
    height:12%;
    font-family: SimHei;
    font-size: 18px;
}
.nav1 > li > a{
    border-radius: 4px;
}
.nav1 > nav{
    margin-top:4%;
}
.logo{
    float:left;
    width: 20%;
    height:100%;
    color:white;
    font-family: SimHei;
}
.logo > img{
    width: 60%;
    height:80%;
}
.logo > p{
    margin-left: 10%;
}