div{
    border:0px black solid;
}

.container2{
    width: 90%;
    margin-top: 7%;
    margin-left: 5%;
    color:white;
    font-size: 170%;
}
.container2 > div{
    width:30%;
}

.container2_center{
    margin-left: 5%;
    margin-right: 5%;
}

.container2 li{
    margin-bottom: 12%;
    font-size: 18px;
}